{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": false
        }
    },
    "env": {
        "es6": true,
        "jquery": true
    },
    "extends": ["plugin:react/all", "airbnb"],
    "plugins": [
        "react",
        "class-property",
        "flow-vars"
    ],
    "indent": ["error", 2],
    "rules": {
        "arrow-body-style": ["warn", "as-needed"],
        "arrow-parens": ["error", "always"],
        "comma-dangle": ["error", "never"],
        "global-require": "off",
        "indent": ["error", 2],
        "max-len": ["error", 120],
        "new-cap": "off",
        "no-case-declarations": "off",
        "no-confusing-arrow": "off",
        "no-console": "off",
        "no-param-reassign": "off",
        "no-trailing-spaces": "off",
        "no-underscore-dangle": "off",
        "no-unused-vars": ["error", { "argsIgnorePattern": "meta" }],
        "no-use-before-define": "off",
        "object-curly-spacing": "off",
        "quote-props": "off",
        "semi": ["warn", "never"],
        "react/jsx-boolean-value": "error",
        "react/jsx-closing-bracket-location": ["error", "after-props"],
        "react/jsx-curly-spacing": ["error", "never", {"allowMultiline": false}], //SHOULD BE CALCULATE BEFORE USING MULTILINE
        "react/jsx-filename-extension": "off",
        "react/jsx-indent": ["error", 2],
        "react/jsx-indent-props": ["error", 2],
        "react/jsx-key": "error",
        "react/jsx-no-duplicate-props": "error",
        "react/no-array-index-key": "off",
        "react/no-did-mount-set-state": "error",
        "react/no-did-update-set-state": "error",
        "react/no-unused-prop-types": "error",
        "react/prefer-es6-class": "error",
        "react/prop-types": ["error", {ignore: ["meta"]}],
        "react/forbid-prop-types": "off",
        "react/require-default-props": "off",
        "react/no-string-refs": "off",
        "no-plusplus": "off",

        "flow-vars/define-flow-type": 1,
        "flow-vars/use-flow-type": 1,

        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "import/extensions": ["error", { "jsx": "never", "json": "always" }],
        "import/prefer-default-export": "off",

        "jsx-a11y/anchor-has-content": "off",
        "jsx-a11y/href-no-hash": "off",
        "jsx-a11y/img-has-alt": "off",
        "jsx-a11y/no-static-element-interactions": "off"
    },
    "globals": {
        "document": true,
        "expect": true,
        "describe": true,
        "fetch": true,
        "it": true,
        "beforeAll": true,
        "beforeEach": true,
        "afterAll": true,
        "window": true,
        "google": true,
        "Event": true,
        "FileReader": true
    }
}
